/* .img{
  width: 200px;
} */

.SeasonImage{
  width: 200px;
}

.show-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

/* Individual show card */
.show-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* Show card title */
.show-card h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

/* Show card image */
.show-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Show card description */
.show-card p {
  font-size: 16px;
}

/* seasonCards.css */

/* Container for the season cards */
.season-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
}

/* Individual season card */
.season-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* Season card title */
.season-card h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

/* Season card image */
.season-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Season card description */
.season-card p {
  font-size: 14px;
}

.audio-card{
  width: 100px;
}



/* styles.css */

.header {
  background-color: whitesmoke; /* Nice and elegant color */
  color: black;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow */
  height: 85px;
  margin-bottom: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-title {
  font-size: 20px;
   margin-bottom: 2rem;
  text-decoration: none; /* Remove underline from the link */
  color: black;
}



.sort-bar {
  display: flex;
  align-items: center;
}

.sort-bar label {
  margin-right: 10px;
  font-size: 16px;
  color:black;
}

.sort-bar select {

  font-size: 14px;
  margin-bottom: 10px;
}



